body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #f1c1c8, #ffc0cb);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Comic Sans MS", cursive;
  overflow: hidden;
}

.container {
  text-align: center;
}

.birthday-message {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px #ff69b4;
}

.balloons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.balloon {
  width: 80px;
  height: 120px;
  border-radius: 50%;
  background-color: #ff69b4;
  position: relative;
  animation: float 6s ease-in-out infinite;
  transform-origin: bottom center;
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 2px;
  height: 40px;
  background-color: #fff;
  transform: translateX(-50%);
}

.one {
  background-color: #ff69b4;
  animation-delay: 0s;
}

.two {
  background-color: #ff85b0;
  animation-delay: 1s;
}

.three {
  background-color: #ffc1e3;
  animation-delay: 2s;
}

.four {
  background-color: #ffa7c7;
  animation-delay: 3s;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}

.btn {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #cf4f93;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cake {
  position: relative;
  margin: 20px 0;
  height: 100px;
  bottom: 100px;
}

.cake img {
  /* width: 150px; */
  height: auto;
  animation: bounce 2s infinite;
  border-radius: 50%;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
